.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.bg-navbar {
    background-color: rgb(25, 25, 25);
}

.navbar {
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important;
}



.img1 {
    height: 600px;
    object-fit: cover;
    filter: blur(1px);
}
.imgAbout {
    height: 600px;
    object-fit: cover;
    object-position: middle;
    filter: blur(1px);
}

.centered {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered2 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered3 {
    
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered4 {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centeredp2 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centeredp3 {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn1{
    width: 150px !important;
}

.img2{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    opacity: 65%;
}

.card1{
    height: 300px
}

.row2{
    
}

.imgAbout{
    filter: blur(3px) !important;
}


